h1 {
            color: blue;
            background-color: aquamarine;
            border-style: solid;
            border-color: green;
            border-width: 4px;
            /* margin: 50px 20px 50px 20px;
            padding-top: 50px 20px 50px 20px; */
            height: 10%;
        }
        